
body {
   background-image: url(/Users/ericthornton/gt/Bootstrap-Portfolio/assets/circles-light.png);
}

.navbar-default .navbar-brand {
    color: #fff;
}

.socialLink {
    float: left;
    width: 4em;
    padding-top: 1px;
    padding-left: 5px; 
      
  }

  #socialLinks {
    height: 60px;
    margin: 0 0 7% 10%;   
}

.thumbnail {

}

/* .navbar-header {
    
}

.navbar-brand {
    background-color: #4aaaa5;   
    margin-left: 10%;   
}

.aboutMeSection {
    
}

ul {
    
}

.headh3 {
    margin-left: 20px;
}


.thumbnail {
    margin-left: ;
}


#connecth3 {
    text-align: center;
}

.headh3 {
    font-family: 'Raleway', sans-serif;
    color: #4aaaa5;
    font-weight: 700;
    
}

#socialLinks {
    height: 50px;
    margin: 0 0 7% 15%;

   
    
}

.socialLink {
  float: left;
  width: 60px;
  padding: 3px;
  
  
    
}

footer {
    background-color: blue;
    height: 20px;
}

 */ */
